{% extends 'main/base.html' %}

{% block title %}About Us - Honey Shop{% endblock %}

{% block header %}
    <header>
        <h1>About us</h1>
        <nav>
            <ul>
                <li><a href="{% url 'main:index' %}">Home</a></li>
                <li><a href="{% url "goods:catalog" %}">Catalog</a></li>    
                <li><a href="{% url "main:about" %}">About Us</a></li>
                <li><a href="{% url "main:contact" %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    {% endblock %}

{% block main %}
<main>
    <section>
        <h2>About Us</h2>
        <p>Welcome to the Honey Shop! We are passionate about providing the finest honey from the best local beekeepers. Our mission is to bring you the purest and most delicious honey available.</p>
        <p>Our team is dedicated to quality and customer satisfaction. We believe in the benefits of honey for health and wellness, and we strive to make every product as perfect as possible.</p>
        <p>If you have any questions or need further information, feel free to <a href="{% url "main:contact" %}">contact us</a>.</p>
    </section>
</main>
{% endblock %}
