{% extends "main/base.html" %}

{% block title %}Home - Honey Shop{% endblock %}

{% block main %}
<h1>Add goods</h1>

<form action='{% url 'add' %}' method='post'>
    {% csrf_token %}

    <div class='form-group'>
        <label for='{{ form.title.id_for_label }}'>Title: </label>
        <input type="text" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" class="form-control" value="{{ form.title.value }}">
        <div class='text-danger'>
            {{ form.title.errors }}
        </div>
    </div>

    <div class='form-group'>
        <label for='{{ form.description.id_for_label }}'>Description: </label>
        <textarea name="{{ form.description.name }}" id="{{ form.description.id_for_label }}" class="form-control">{{ form.description.value }}</textarea>
        <div class='text-danger'>
            {{ form.description.errors }}
        </div>
    </div>

    <div class='text-danger'>
        {{ form.non_field_errors }}
    </div>
    
    <div class='form-group'>
        <label for='{{ form.time_created.id_for_label }}'>Time created: </label>
        <input type="text" name="{{ form.time_created.name }}" id="{{ form.time_created.id_for_label }}" class="form-control" value="{{ form.time_created.value }}">
        <div class='text-danger'>
            {{ form.time_created.errors }}
        </div>
    </div>

    <div class='form-group'>
        <label for='{{ form.is_published.id_for_label }}'>Is published? </label>
        <input type="checkbox" name="{{ form.is_published.name }}" id="{{ form.is_published.id_for_label }}" class="form-control" {% if form.is_published.value %}checked{% endif %}>
        <div class='text-danger'>
            {{ form.is_published.errors }}
        </div>
    </div>

    <button type='submit' class='btn btn-primary btn-block'>Add goods</button>
</form>
{% endblock %}
