{% extends 'main/base.html' %}

{% block title %}Contact Us - Honey Shop{% endblock %}

{% block main %}
<main>
    <section>
        <h2>Contact Us</h2>
        <p>If you have any questions or feedback, we'd love to hear from you! You can reach us through the following ways:</p>
        <ul>
            <li><strong>Email:</strong> support@honeystore.com</li>
            <li><strong>Phone:</strong> numbers</li>
            <li><strong>Address:</strong> 18 Honey Lane, Sweet Town, ST 12345</li>
        </ul>
        <p>We look forward to hearing from you!</p>
    </section>
</main>
{% endblock %}
