{% extends "main/base.html" %}

{% block title %}Honey Shop{% endblock %}

{% block main %}
<main>
    <section class="description">
        <h2>Why Buy Honey?</h2>
        <p>Honey is a delicious and natural sweetener that has been enjoyed for thousands of years. It's not only a tasty addition to your meals and beverages but also offers a range of health benefits. Honey is rich in antioxidants, has antibacterial properties, and can help soothe a sore throat. It's a versatile ingredient that can be used in cooking, baking, and even in skincare routines. By buying honey, you support local beekeepers and contribute to the sustainability of our ecosystems. Discover the magic of honey and make it a staple in your pantry!</p>
    </section>
</main>
{% endblock %}
